<div ng-controller="DetailsController">
    <div class="container">

        <div>
            <strong> <h4>Contact Details for: </h4></strong>

        <h5>{{fullName()}} </h5>


        </div>
        <div>
            <b>Email:</b> {{PhoneRecord.Email}}
        </div>
        <div>
            <strong>Phone number:</strong> {{"(" + PhoneRecord.Phone.toString().slice(0,3) + ")" + ' ' + PhoneRecord.Phone.toString().slice(3,6) + '-' + PhoneRecord.Phone.toString().slice(6,10) }}
        </div>
        <b>
            <br />
            <u>Additional Info</u>


        </b>
        <div>
            <b>Date of Birth:</b> {{PhoneRecord.Birthdate | date:"MM/dd/yyyy"}}
        </div>
        <div>
            <b>Photo:</b> {{PhoneRecord.MediaUrl}}
        </div>
        <div>
            <b>Contact relationship Category</b>: {{PhoneRecord.relationshipTypes}}
        </div>
        <div>
            <b>Comments:</b> {{PhoneRecord.Comments}}
        </div>
        <button ng-click="edit()">Edit</button>
    </div>
    <div ng-include="'/Scripts/Client/views/edit.html'"></div>
</div>