
<div ng-controller="EditController">
    <form ng-show="isEditable()">
        <div class="container">
            <fieldset>
                <div class="row">

                    <div class="form-group col-sm-6 col-md-6 col-lg-6">
                        <label for="FirstName">
                            <b>
                                FirstName
                            </b>
                        </label>
                        <input id="FirstName" type="text"
                               ng-model="edit.PhoneRecord.FirstName" required
                               class="form-control" style="background-color: lightgrey" placeholder="Enter your first name required" />
                    </div>
                    <div class="form-group col-sm-6 col-md-6 col-lg-6">
                        <label for="LastName">
                            <b>
                                LastName
                            </b>
                        </label>
                        <input id="LastName" type="text"
                               ng-model="edit.PhoneRecord.LastName" required
                               class="form-control" style="background-color: lightgrey" placeholder="Enter your last name (required)" />
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-sm-6 col-md-6 col-lg-6">
                        <label for="Email">
                            <b>
                                Email
                            </b>
                        </label>
                        <input id="Email" type="email"
                               ng-model="edit.PhoneRecord.Email" required
                               class="form-control" style="background-color: lightgrey" placeholder="Enter a valid email address (required)" />
                    </div>
                    <div class="form-group col-sm-6 col-md-6 col-lg-6">
                        <label for="Birthdate">
                            <b>
                                Birthday
                            </b>
                        </label>

                        <input id="Birthdate" type="date"
                               ng-model="edit.PhoneRecord.Birthdate"
                               class="form-control" style="background-color: lightgrey" placeholder="Enter your birthday (MM/DD/YYYY)" />
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-sm-6 col-md-6 col-lg-6">
                        <label for="Phone">
                            <b>
                                Phone Number
                            </b>
                        </label>
                        <input id="Phone" type="number"
                               ng-model="edit.PhoneRecord.Phone" min="0"
                               max="9999999999"
                               class="form-control" style="background-color: lightgrey" placeholder="Enter your phone number  digits only" />
                    </div>

                    <div class="form-group col-sm-6 col-md-6 col-lg-6">
                        <label for="MediaUrl">
                            <b>
                                MediaUrl
                            </b>
                        </label>
                        <!--<input id="MediaUrl" type="text"
                                   ng-model="edit.PhoneRecord.MediaUrl"
                                   class="form-control" style="background-color: lightgrey" placeholder="Enter the URL for your contact" />-->
                        {{$scope.makeMediaUrl()}} is the name
                        of  photo of this user
                        <!--<div ng-repeat="step in stepsModel">
                            <img class="thumb" ng-src="{ {step}}" />
                        </div>-->
                        <div>

                            <img class="thumb" ng-src="{{stepsModel}}" />
                        </div>
                        <input id="MediaUrl" class="form-control" type='file' ng-model="edit.PhoneRecord.MediaUrl" onchange="angular.element(this).scope().imageUpload(this)" />
                    </div>
                </div>
                <div class="form-group col-sm-6 col-md-6 col-lg-6">
                    <label for="Comments">
                        <b>
                            Comments
                        </b>
                    </label>
                    <textarea rows="3" class="form-control" ng-model="edit.PhoneRecord.Comments" maxlength="2000"></textarea>
                    <p class="text-left" placeholder="Enter the URL for your contact">{{"You have up to " + (2000 - edit.PhoneRecord.Comments.length) + ' Characters remaining until limit' }}</p>
                </div>
                <!--<button class="btn btn-default"
                            ng-click="save()">
                    Save
                </button>
                <button class="btn btn-default"
                        ng-click="cancel()">
                    Cancel
                </button>-->

                <button class="btn btn-default"
                        ng-click="confirmSave()">
                    Save contact
                </button>
                <button class="btn btn-default"
                        ng-click="confirmCancel()">
                    Cancel
                </button>
            </fieldset>
            <div class="clearfix"></div>



        </div>
        <!--<div ng-app="contactsRouting" ng-controller="MainCtrl">
            <p ng-show="loading">Loading...</p>
            <p ng-hide="loading">Response: {{response}}</p>
        </div>-->

    </form>

</div>
