<div ng-controller="EditController">
    <form ng-show="isEditable()">
        <fieldset>
            <div class="form-group">
                <label for="FirstName">
                    FirstName
                </label>
                <input id="FirstName" type="text"
                       ng-model="edit.PhoneRecord.FirstName" required
                       class="form-control"  placeholder="Enter your first name required" />
            </div>
            <div class="form-group">
                <label for="LastName">
                    LastName
                </label>
                <input id="LastName" type="text"
                       ng-model="edit.PhoneRecord.LastName" required
                       class="form-control"   placeholder="Enter your last name (required)"/>
            </div>


            <div class="form-group">
                <label for="Email">
                    Email
                </label>
                <input id="Email" type="text"
                       ng-model="edit.PhoneRecord.Email" required
                       class="form-control"  placeholder="Enter a valid email address (required)" />
            </div>
            <div class="form-group">
                <label for="Birthdate">
                    Birthday (YYYYMMDD, numbers only)
                </label>
                <input id="Birthdate" type="date"
                       ng-model="edit.PhoneRecord.Birthdate"
                      class="form-control"   placeholder="Enter your birthday (MM/DD/YYYY)"/>
            </div>
            <div class="form-group">
                <label for="Phone">
                    Phone Number
                </label>
                <input id="Phone" type="tel"
                       ng-model="edit.PhoneRecord.Phone"
                       min="0" max="9999999999"
                       class="form-control" placeholder="Enter your phone number" />
            </div>

            <div class="form-group">
                <label for="MediaUrl">
                    MediaUrl
                </label>
                <input id="MediaUrl" type="text"
                       ng-model="edit.PhoneRecord.MediaUrl"
                       class="form-control" placeholder="Enter the URL for your contact"/>
            </div>


            <button class="btn btn-default"
                    ng-click="save()">
                Save
            </button>
            <button class="btn btn-default"
                    ng-click="cancel()">
                Cancel
            </button>
        </fieldset>
    <!--<div ng-app="MyModule" ng-controller="MainCtrl">
        <p ng-show="loading">Loading...</p>
        <p ng-hide="loading">Response: {{response}}</p>
    </div>-->
    </form>
</div>