<div ng-controller="ListController">
    <table class="table">
        <tr ng-repeat="PhoneRecord in PhoneRecords">
            <td>{{PhoneRecord.FirstName}} {{PhoneRecord.LastName}}</td>
            <td>
                <a href="#/details/{{PhoneRecord.Id}}">Details</a>
                <!-- ng-click listens for a click  event, then runs the method on the objectd (delete method on PhoneRecord object) it -->
                <button class="btn btn-default" ng-click="delete(PhoneRecord)">
                    Delete
                </button>
            </td>
        </tr>
    </table>
    <button class="btn btn-default" ng-click="create()">Add new Contact</button>
<div ng-include="'/Scripts/Client/views/edit.html'">
</div>
</div>