@section scripts {
    <script src="~/Scripts/angular.js"></script>
    <script src="~/Scripts/angular-route.js"></script>
    <script src="~/Scripts/Client/contactsRouting.js"></script>
    <script src="~/Scripts/Client/ListController.js"></script>
    <script src="~/Scripts/Client/DetailsController.js"></script>
    <script src="~/Scripts/Client/contactService.js"></script>
    <script src="~/Scripts/Client/EditController.js"></script>
}


<div data-ng-app="contactsRouting">

    <ng-view></ng-view>
</div>
