@section scripts {
    <script src="~/Scripts/angular.js"></script>
    <script src="~/Scripts/angular-route.js"></script>
    <script src="~/Scripts/Client/contactsRouting.js"></script>
    <script src="~/Scripts/Client/ListController.js"></script>
    <script src="~/Scripts/Client/DetailsController.js"></script>
    <script src="~/Scripts/Client/contactService.js"></script>
    <script src="~/Scripts/Client/EditController.js"></script>
    <script src="~/Scripts/Client/MainCtrl.js"></script>
    <script src="~/Scripts/tinymce/tinymce.min.js"></script>
    <script src="~/Scripts/tinymce/jquery.tinymce.min.js"></script>
    <script type ="text/javascript">
        $(function() {
            tinymce.init({
                selector: '#editor'
            });
        });
    </script>

}


<div data-ng-app="contactsRouting">

    <ng-view>

   </ng-view>

</div>
